<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>URL Shortner</title>
</head>

<body>
  <main>
    <h1 id="heading">URL Shortner</h1>
    <form id="shortner">
      <label for="url" class="url">URL: <input type="url" class="url" id="url" value="<%= url %>" readonly /></label>
      <div id="btn-grp">
        <button type="button" id="back">Back</button>
        <button type="button" id="copy">Copy URL</button>
        <button type="button" id="redirect"><a href="<%= url %>" target="_blank">Redirect</a></button>
      </div>
    </form>
  </main>
  <script src="/result.js" type="text/javascript"></script>
</body>

</html>